# copy this file as .rbenv-vars and fill out this template

AWS_ACCESS_KEY_ID=<your access key id>
AWS_SECRET_ACCESS_KEY=<your key secret>
AWS_REGION=<your AWS region>

# This variable will namespace your AWS resources.
ENVIRONMENT=<env name>

# The ElasticSearch + AWS cloud plugin versions.
# Note that specific versions of the AWS cloud plugin MUST match corresponding versions of ElasticSearch.
# See https://github.com/elasticsearch/elasticsearch-cloud-aws for the version compatibility table.
# If these are not specified, versions default to ES=1.3.5, plugin=2.3.0
ELASTICSEARCH_VERSION=1.4.0
ELASTICSEARCH_AWS_PLUGIN_VERSION=2.4.0

# The following 2 variables setup elasticsearch server basic auth
SEARCH_USER=elasticsearch
SEARCH_PASSWORD=password

# Number of nodes in your cluster, defaults to 2 if you do not specify
INSTANCE_COUNT=2


# To access your elastic search server through https instead of http
SSL_CERTIFICATE_NAME=<your aws ssl cert name>

# You need to create an SSH key pair in your AWS region
SSH_KEY_NAME=elasticsearch

# The CloudFormation stack will need the following 2 variables to give the elasticsearch cluster public access
ROUTE53_ZONE_NAME=<your aws Route 53 zone>.

# example: search.es.com
SEARCH_DOMAIN_NAME=<your search domain name>

# If you would like to log to PaperTrail, uncomment this setting and configure the endpoint here (hostame:port).
# PAPERTRAIL_ENDPOINT=logs.papertrailapp.com:<your-port>